.profile {
    width: 25%;
    height: 400px;
    background-image: url(instasize_190204043902.png);
    background-size: 100% 100%;
    margin: 50px auto;
    text-align: center;
    position: relative; 
    overflow: hidden;   
     float: left; 
}

.profile .caption {
    width: 100%;
    height: 100%;
    color: white;
    font-weight: bold;
    text-align: center;
    background-color: rgba(100, 99, 99, .4);
     position: absolute; 
     top: 100%;
    left: 100%;
    transition: all 1s; 
}
.profile:hover .caption{
    top: 00%;
    left: 00%;
    transform: rotate(360deg);
}

.profile .caption h3 {
    padding-top: 20px;
    font-size: 30px;
    font-weight: bold;
}

.profile .caption p {
    margin: 20px 0px;
    padding: 20px;
}

.profile .caption button {
    width: 50%;
    border: 1 px solid brown;
    border-radius: 20px;
    padding: 10px 15px;
    margin: 10px;
    background-color: cornflowerblue;
    color: white;
}

h1 {
    text-align: center;
    position: relative;
    font-size: 50px;
}

 h1::before {
    content: "";
    width: 45%;
    height: 2px;
    background-color: tomato;
    position: absolute;
    left: 0px;
    top: 50%;
}

h1::after {
    content: "";
    width: 45%;
    height: 2px;
    background-color: tomato;
    position: absolute;
    right: 0px;
    top: 50%;
}

